 /* -----------------------------------------------------------------

The Whole CSS written by Elecom.
(C) Elecom Inc.
Annoucement here,Copyright
Shenzhen.Eleccom Technology.使用原代码请联系作者QQ: 2300184378 / 2017-04-09 20:00:06

---------------------------------------------------------------------------------------*/

#top_bar { border-bottom: 0}
.navigate li.a a { border-bottom: 0 !important}
a { color: #222222}
a:hover { text-decoration: none}

.index_content { margin: 0}
.index_left { float: left; width: 800px}
.index_right { float: right; width: 340px; padding-bottom: 20px}

.ml li { padding: 0}
.act { margin: 0 0 10px 0}
.cr { display: block; float: none; font-size: 0; height: 0; line-height: 0; overflow: hidden; clear: both; visibility: hidden}
div.separation { background-color: #E6E6E6; height: 1px; width: 100px; overflow: hidden; margin: 5px 0 10px 0}

.mtop20{ margin-top:20px;}
.margin0{ margin:0px !important;}
.mr15 { margin-right: 15px}
.padding0{ padding:0px !important;}
.padding_margin0{margin:0px !important;padding:0px !important}

.fr { float: right}

#elecom_nav { box-shadow: none}
#elecom_nav { position: absolute; background: rgba(255,255,255,0.8)}



/* 幻灯片/Banner */

.focusBox{position:relative;width:533px;height:400px;overflow:hidden}
.focusBox .pic{position:relative;z-index:0}
.focusBox .pic li::before{content:"";position:absolute;width:100%;height:100%;z-index:1;opacity:1;-webkit-transition:all .3s ease;transition:all .3s ease;background:-webkit-gradient(linear,0 30%,0 100%,from(rgba(0,0,0,0)),to(#121515));background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);background:-ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);background:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515)}
.focusBox .pic img{width:533px;height:400px;display:block}
.focusBox .hd{width:100%;position:absolute;bottom:10px;text-align:center;font-size:0;z-index:1}
.focusBox .hd li{margin:0 5px;background:url(../dot.png) no-repeat 0 -16px;height:16px;overflow:hidden;width:16px;cursor:pointer;display:inline-block;zoom:1}
.focusBox .t-h1{margin:0 30px;bottom:22px;position:absolute;font-size:24px;color:#fff;z-index:2; font-weight: 400}
.focusBox .hd .on{background-position:0 0}
.focusBox .next,.focusBox .prev{position:absolute;display:block;width:30px;height:50px;top:43%;filter:alpha(opacity=0);opacity:0}
.focusBox .prev{left:10px;background:url(../prev.png) no-repeat 0 center}
.focusBox .next{right:10px;background:url(../next.png) no-repeat 0 center}
.focusBox .next:hover,.focusBox .prev:hover{filter:alpha(opacity=100)!important;opacity:1!important}

/* end */



/* 幻灯右侧/Banner Right */

.big2-pic.big2-pic-index,.big2-pic.big2-pic-index .big2-pic-content{position:relative;width:257px;height:195px;margin-bottom:10px;overflow:hidden}
.big-pic .back-img,.big2-pic .back-img{position:absolute;width:100%}
.big-pic img,.big2-pic img,.hot-article-img img,.mod-thumb img,.topic-content img{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
.big2-pic-content .t-h1{position:absolute;word-break:inherit;font-size:18px;color:#fff;line-height:1.5;font-weight:400}
.big2-pic.big2-pic-index .big2-pic-content .t-h1{font-size:16px;margin:0 20px;bottom:16px;z-index:10}
.big-pic::before,.big2-pic::before,.topic-content::before{content:"";position:absolute;width:100%;height:100%;z-index:1;opacity:1;-webkit-transition:all .3s ease;transition:all .3s ease;background:-webkit-gradient(linear,0 30%,0 100%,from(rgba(0,0,0,0)),to(#121515));background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);background:-ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);background:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515)}

/* end */



/* 幻灯下方列表/Down List */

.mod-art-list { padding: 30px 0; margin: 0; border-bottom: 1px solid #F0F0F0; background: #FFFFFF}
.mod-art-list_imgouter { position: relative; float: left; width: 225px; height: 165px; margin: 0 20px 0 0; overflow: hidden}
.mod-art-list_con { position: relative; float: left; width: 555px; height: 165px}
.mod-art-list_con h3 { line-height: 39px; font-size: 18px; font-weight: 400}
.ui_colorG { color: #333333}
.ui_colorG:hover { color: #3ca5f6}
.ui_2_userinfo { line-height: 32px; margin: 5px 0 0 0; font-size: 14px; color: #BBBBBB}
.ui_2_userinfo span, .ui_2_userinfo em { float: left}
.ui_2_userinfo .authors { margin-right: 26px; font-family: Arial,"微软雅黑","Microsoft yahei","Hiragino Sans GB","冬青黑体简体中文 w3","Microsoft Yahei","Hiragino Sans GB","冬青黑体简体中文 w3",STXihei,"华文细黑",SimSun,"宋体",Heiti,"黑体",sans-serif}
.ui_2_userinfo .authors img { float: left; border-radius: 50%; margin: 3px 10px 0 0}
.ui_2_userinfo .authors a { color: #BBBBBB; font-weight: 400}

.ui_2_user { float: left; width: 26px; height: 26px; margin: 2px 0 0 0}
.ui_2_user img { border-radius: 50%}
.mod-art-list_con p { line-height: 24px; font-size: 14px; margin: 10px 0; height: 24px; word-wrap: break-word; word-break: break-all; color: #999999}
.cdg { color: #5E5E5E}
.ui_2_userinfo a, .clg { color: #BBBBBB}
a.ds_inlineB:hover { color: #FF0000}

.tag_down{position:absolute;width:auto;right:2px;bottom:0;height:18px;line-height:18px;border:0;border-radius:0;text-align:center}
.tag_down a{display:block;padding:0;color:#3CA5F6;transition:all 0s ease 0s}

.more_box .addmore{height:60px;width: 1170px;line-height:60px;color: #999999;font-size:16px;text-align:center;cursor:pointer;display:inline-block;border: 0;margin-top:30px;margin-bottom:30px;transition:all .2s ease-out}
.more_box .addmore:hover{ color: #666666}

/* end */


/* 右侧图文/Right List */

.rumorlist{padding:10px 30px 0 37px;margin:0;border-bottom:0}
.rumorlist li{position:relative;border-left:2px solid #f0f0f0}
.rumorlist li:last-child{border-left:0}
.rumorlist li:last-child p{padding-bottom:10px}
.rumorlist li .icon-clock{padding-top:6px;padding-bottom:6px;background-color:#fafafa;position:absolute;left:-9px;top:-6px;width:16px;height:16px}
.rumorlist li img{display:block;width:auto}
.rumorlist li p{padding-left:16px}
.rumorlist .rumor-time{color:#999;line-height:16px;font-size:14px}
.rumorlist li p{padding-left:16px}
.rumorlist .rumor-detail{padding-top:9px;padding-bottom:30px;font-size:16px;color:#333;line-height:28px}
.rumor-more a{display:block;padding:0 30px 25px 0;text-align:right;font-size:16px;color:#bbb;line-height:18px;border-bottom:0}
.rumor-more a:hover{color:#3ca5f6}


#main_sidebar .btn_sign { float: left; width: 280px; height: 50px; line-height: 50px; margin: 0 0 0 30px; overflow: hidden; background: #3ca5f6}
#main_sidebar .btn_sign a { color: #FFFFFF; text-align: center}
#main_sidebar .btn_sign .icon_sign { margin-top: 11px; margin-left: 66px}
#main_sidebar .btn_sign_left p { display: inline-block; height: 50px; line-height: 50px}
#main_sidebar .btn_sign_left a { display: block; width: 280px; height: 50px}
#main_sidebar .btn_sign_left p { width: 95px; font-size: 18px}

.moder-project-list ul li{padding:30px;border-bottom:1px solid #f0f0f0}
.moder-project-list ul li:last-child{border-bottom:0}
.promote-box .mod-thumb{width:78px;height:44px;position:absolute}
.promote-box .project-content{margin-left:98px;font-size:16px;margin-top:-2px}
.promote-box .project-content a:hover{color:#3ca5f6}
.c2,.c3{color:#bbb}
.promote-box .point{color:#ccc;font-size:18px;margin:0 5px}
.mod-thumb img{width:100%}

/* end */


.mod-b{ position: relative;padding:30px 0;height:225px;border-bottom:1px solid #f0f0f0;width:800px}
.mod-b-push{height:375px}
.mod-b-push .mod-thumb{width:500px;height:375px; overflow: hidden}
.column-link-box{position:absolute;bottom:25px;right:0;text-align:right}
.column-link-big-box{width:300px}
.mob-ctt{position:relative;float:right;margin:-162px 30px 0;width:530px}
.mod-b-push .mob-ctt{width:250px;margin-top:-376px}
.mob-ctt h2,.mob-ctt h3{margin-top:-5px}
.mob-ctt h2{font-size:24px;margin-bottom:10px;font-weight:400}
.mob-ctt h2 a{font-size:18px}
.mob-author{margin:15px 0}
.mob-author .author-face{position:absolute;width:25px;height:25px}
.mob-author .author-face img{width:100%;overflow:hidden;border-radius:25px}
.mob-author .author-name,.mob-author .time,.mob-author em{color:#bbb;line-height:24px;font-style:normal}
.mod-b-push .mob-author .author-name{margin-left:36px}
.mob-author .time{margin-left:20px}
.mob-sub{font-size:14px;color:#999;line-height:24px}
.mod-art-list_imgouter img, .focusBox .pic img { transition: all .5s ease-in-out}
.big-pic:hover img,.big2-pic:hover img,.hot-article-img:hover img,.mod-thumb:hover img,.topic-content:hover img, .mod-art-list_imgouter:hover img, .focusBox .pic:hover img{-webkit-transform:scale(1.04);-moz-transform:scale(1.04);-ms-transform:scale(1.04);-o-transform:scale(1.04);transform:scale(1.04)}
.column-link-box{position:absolute;bottom: 30px;right:0;text-align:right}
.column-link{font-size:12px;color:#3ca5f6;text-align:center;line-height:1;z-index:10;margin-left:20px}


	.fullSlide{ width:100%;  position:relative;  height:610px; z-index: 1; background:#000;  }
	.fullSlide .bd{ width: 100%; margin:0 auto; z-index:0; overflow:hidden;  }
	.fullSlide .bd ul{ width:100% !important;  }
	.fullSlide .bd li{ width:100% !important;  height:610px; overflow:hidden; text-align:center;  }
	.fullSlide .bd li a{ display:block; height:610px; }

	.fullSlide .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; }
	.fullSlide .hd ul{ text-align:center; }
	.fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:42px; height:11px; margin:1px; overflow:hidden; background:#000;
		filter:alpha(opacity=50);opacity:0.5;  line-height:999px; 
	}
	.fullSlide .hd ul .on{ background: #ff8b47}

	.fullSlide .prev,
	.fullSlide .next{  display:block;  position:absolute; z-index:1; top:50%; margin-top:-30px; left:15%;  z-index:1; width:40px; height:60px; background:url(../slider-arrow.png) -126px -137px #000 no-repeat;  cursor:pointer; filter:alpha(opacity=50);opacity:0.5; display:none;  }
	.fullSlide .next{ left:auto; right:15%; background-position:-6px -137px; }
	
	
.appItem { width: 100%; margin: 0 auto}
.appItem .appTitle {
    text-align: center;
    padding-top: 30px;
	font-size: 32px;
	color: #333333
}
.appItem .appDesc {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 80px;
    color: #565656;
}
.displayFlex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.appItem .itemC {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.appItem .itemC .item {
	float: left;
	width: 291px;
    margin-right: 12px;
}
.appItem .itemC .item:last-child { margin-right: 0}
.appItem .itemC .item a img {
    max-width: 100%;
    width: 100%;
	height: auto;
    display: block;
}


.appList .appArtAB .appArts {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.appList .appArtAB .appArts ._list {
	float: left;
  width: 48%;
  margin-bottom: 1.3rem;
  text-decoration: none;
}
.appList .appArtAB .appArts ._list ._listL {
	float: left;
	width: 193px;
	height: 123px;
  overflow: hidden;
  border: 0;
  padding: 0;
  border-radius: 0;
}
.appList .appArtAB .appArts ._list ._listL ._image {
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  width: 193px;
  height: 123px;
  transition: all .5s;
  overflow: hidden;
}
.appList .appArtAB .appArts ._list ._listL:hover ._image {
  transform: scale(1.2);
}
.appList .appArtAB .appArts ._list ._listR { position: relative; float: right; width: 340px; height: 125px; padding: 0 .85rem;}
.appList .appArtAB .appArts ._list ._listR ._title {
	width: 340px;
  font-size: 20px;
  margin-bottom: .55rem;
  color: #333;
}
.appList .appArtAB .appArts ._list ._listR:hover ._title { color: #FFD801}
.appList .appArtAB .appArts ._list ._listR ._auther {
	width: 340px;
	height: 30px;
  font-size: 13px;
  color: #bbb;
}
.appList .appArtAB .appArts ._list ._listR ._auther ._aut { float: left}
.appList .appArtAB .appArts ._list ._listR ._auther ._read { float: right}
.appList .appArtAB .appArts ._list ._listR ._time {
	position: absolute;
	left: 0.85rem;
	bottom: 0;
  font-size: 12px;
  color: #bbb;
}
.appList .appArtAB .appArts ._list:hover img {
  transform: scale(1.2);
}
.appList .appArtAB .appArts ._list:hover ._auther {
  color: #969696;
}
.appList .appArtAB .appArts ._list:nth-child(2n+1) {
  margin-right: 2%;
}
.articleAB {
  height: 100%;
  background: #efeff0;
}
.articleAB .articleB .articleItem {
  max-width: 605px;
  width: 100%;
  margin: 0 auto 10px;
  background: #fff;
}
.articleAB .articleB .articleItem:last-child {
  margin-bottom: 0;
}
.articleAB .articleB .articleItem .artTitle {
  padding: 32px 68px 0;
  font-size: 20px;
  color: #232323;
  font-weight: bold;
}
.articleAB .articleB .articleItem .artAuth {
  padding: 23px 68px;
}
.articleAB .articleB .articleItem .artAuth .artHeadimg {
  margin-right: 20px;
}
.articleAB .articleB .articleItem .artAuth .artHeadimg img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.articleAB .articleB .articleItem .artAuth .Auth ._n {
  font-size: 14px;
  line-height: 1.7;
  margin-right: 8px;
}
.articleAB .articleB .articleItem .artAuth .Auth ._t {
  font-size: 13px;
  color: #ababab;
}
.articleAB .articleB .articleItem .artAuth ._g {
  font-size: 13px;
  color: #ababab;
}
.articleAB .articleB .articleItem .artCon {
  padding: 0 68px;
  line-height: 1.5;
}
.articleAB .articleB .articleItem .artCon img {
  max-width: 100%;
}
.articleAB .articleB .articleItem .artcomment .commentTitle {
  padding: 32px 68px 20px;
  border-bottom: 1px solid #efeff0;
  color: #ababab;
}
.articleAB .articleB .articleItem .artcomment .commentC {
  padding: 0 68px;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem {
  padding: 25px 0;
  border-bottom: 1px solid #efeff0;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem .commentL {
  margin-right: 20px;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem .commentL img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem .commentR {
  justify-content: space-between;
  padding-right: 30px;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem .commentR .itemName {
  color: #f6d836;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 2px;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem .commentR .itemTime {
  justify-content: space-between;
  font-size: 12px;
  color: #999;
  padding: 12px 0;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem .commentR .itemTime ._g {
  margin-left: 28px;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem .commentR .itemC .itemC_1 {
  color: #232323;
  font-size: 14px;
  line-height: 1.7;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem .commentR .itemC .itemC_1 img {
  max-width: 100%;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem .commentR .itemC .itemC_2 {
  padding: 17px 13px 17px;
  background: #efeff0;
  font-size: 14px;
  color: #999;
  margin-bottom: 12px;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem .commentR .itemC .itemC_2 ._call {
  margin-bottom: 10px;
}
.articleAB .articleB .articleItem .artcomment .commentC .commentItem:last-child {
  border-bottom: 0;
}
.articleAB .articleB .articleItem ._codeTitle {
  padding-top: 26px;
  font-size: 19px;
  letter-spacing: 1px;
}
.articleAB .articleB .articleItem ._codeDesc {
  padding: 13px 0;
  font-size: 15px;
  letter-spacing: 2px;
  color: #969696;
}
.articleAB .articleB .articleItem ._code {
  padding-bottom: 26px;
}
.articleAB .articleB .articleItem ._code img {
  max-width: 100%;
}


.find_more { padding: 30px 0; text-align: center}
.find_more a { color: #FFFFFF; font-size: 16px; padding: 5px 15px; background: #FFD801}
